* {
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

/*  CheckBox  */
CheckBox {
    -fx-border-width: 0;
    -fx-cursor: hand;
}

CheckBox .box {
    -fx-border-radius: 0;
    -fx-background-color: white;
}

CheckBox:selected .box {
    -fx-background-color: green;
}

CheckBox .mark {
    visibility: hidden;
}

CheckBox:selected .mark {
    visibility: visible;
    -fx-background-color: white;
    -fx-shape: "M1.73,12.91 8.1,19.28 22.79,4.59 22.79,1.59 8.1,16.28 1.73,9.91";
}

CheckBox {
    -fx-border-color: #ccc;
}

/*  Button  */
Button {
    -fx-border-color: #ccc;
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 6;
    -fx-cursor: hand;
}

Button:hover {
    -fx-border-width: 1;
    -fx-border-color: #ffcccc;
    -fx-background-color: #ffcccc;
    -fx-text-fill: black;
}


/*  TextField  */
TextField {
    -fx-text-fill: black;
}

/*  Pane  */
.custom-pane {
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-background-color: #131022;
}

/* saveConfirm label */
#saveConfirm {
    -fx-text-fill: green;
}

/*  Spinner  */
Spinner * {
    -fx-text-fill: black;
}