* {
    -fx-font-family: "Maple Mono", "Lucida Console", monospace;
    -fx-background-color: #131022;
    -fx-text-fill: white;
}

/* CheckBox */
CheckBox {
    -fx-border-width: 0;
    -fx-cursor: hand;
}

CheckBox .box {
    -fx-border-radius: 0;
    -fx-background-color: white;
}

CheckBox:selected .box {
    -fx-background-color: green;
}

CheckBox .mark {
    visibility: hidden;
}

CheckBox:selected .mark {
    visibility: visible;
    -fx-background-color: white;
    -fx-shape: "M1.73,12.91 8.1,19.28 22.79,4.59 22.79,1.59 8.1,16.28 1.73,9.91";
}

CheckBox {
    -fx-border-color: #ccc;
}

/* Button */
Button {
    -fx-border-color: white;
    -fx-background-color: #131022;
    -fx-border-radius: 10;
}

Button:hover {
    -fx-background-color: black;
    -fx-cursor: hand;
}

/* TextField */
TextField {
    -fx-border-width: 0;
    -fx-background-color: white;
    -fx-border-radius: 10;
    -fx-text-fill: black;
}

TextField * {
    -fx-background-color: white;
}

/* Pane */
Pane {
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
}