* {
    -fx-font-family: "Maple Mono", "Lucida Console", monospace;
    -fx-text-fill: white;
}

/* Folder list view */
.folderListView {
    -fx-border-color: #ccc;
    -fx-border-width: 1px 0 0 0;
    -fx-background-color: transparent;
}

.folderListView * {
    -fx-background-color: transparent;
}

.folderListView .list-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 14px;
    -fx-padding: 5;
}

.folderListView .list-cell:hover {
    -fx-background-color: #6d51c1;
    -fx-cursor: hand;
}

.folderListView .list-cell:filled:selected {
    -fx-background-color: #2f2553;
    -fx-font-weight: bold;
}

.list-cell:empty {
    visibility: hidden;
}

/* Header */
.header {
    -fx-border-color: #ccc;
    -fx-border-width: 0 0 0 1;
}

/* Button */
Button {
    -fx-border-color: #ccc;
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 6;
    -fx-cursor: hand;
}

Button:hover {
    -fx-border-width: 1;
    -fx-border-color: #ffcccc;
    -fx-background-color: #ffcccc;
    -fx-text-fill: black;
}

/* Table */
.table-view {
    -fx-border-color: #ccc;
    -fx-border-width: 1px 0 0 1px;
    -fx-background-color: transparent;
}

.table-view * {
    -fx-background-color: transparent;
}

/* Table column header */
.table-view .column-header {
    -fx-border-color: #ccc;
    -fx-border-width: 0 1px 0 0;
}

/* Table cell */
.table-cell:hover {
    -fx-background-color: #6d51c1;
}

.table-row-cell:selected .table-cell {
    /*-fx-background-color: #2f2553;*/
    -fx-font-weight: bold;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
}

.table-cell:empty {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-alignment: center;
}

/* Label (text) */
.label {
    -fx-background-color: transparent !important;
    -fx-alignment: center;
}

/* Menu and context menu  */
.menu-item:hover, .menu:hover {
    -fx-background-color: #6d51c1;
}

.menu-item:hover {
    /* -fx-font-weight: bold; */
    -fx-background-radius: 7;
}

.context-menu {
    -fx-padding: 4;
    -fx-border-color: #ccc;
    -fx-border-width: 1;
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}

/* Custom */
.custom-VBox {
    -fx-background-color: #131022;
    /*-fx-background-image: url("66.png");*/
    /*-fx-background-size: cover;*/
    /*-fx-background-position: center;*/
}

.custom-Pane * {
    -fx-background-color: transparent;
}

/* Menu */
.menu * {
    -fx-background-color: #131022;
}