* {
    -fx-font-family: "Maple Mono", "Lucida Console", monospace;
    -fx-background-color: #131022;
    -fx-text-fill: white;
}

/* Folder list view */
.folderListView {
    -fx-border-color: #ccc;
    -fx-border-width: 1px 0 0 0;
}

.folderListView .list-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 14px;
    -fx-padding: 5;
}

.folderListView .list-cell:hover {
    -fx-background-color: #6d51c1;
    -fx-cursor: hand;
}

.folderListView .list-cell:filled:selected {
    -fx-background-color: #2f2553;
    -fx-font-weight: bold;
}

.list-cell:empty {
    visibility: hidden;
}

/* Header */
.header {
    -fx-border-color: #ccc;
    -fx-border-width: 0 0 0 1;
}

/* Button */
Button {
    -fx-border-color: white;
    -fx-background-color: #131022;
    -fx-border-radius: 10;
}

Button:hover {
    -fx-background-color: black;
    -fx-cursor: hand;
}

/* Table */
.table-view {
    -fx-border-color: #ccc;
    -fx-border-width: 1px 0 0 1px;
}

/* Table column header */
.table-view .column-header {
    -fx-border-color: #ccc;
    -fx-border-width: 0 1px 0 0;
}

/* Table cell */
.table-cell:hover {
    -fx-background-color: #6d51c1;
}

.table-row-cell:selected .table-cell {
    -fx-background-color: #2f2553;
    -fx-font-weight: bold;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
}

.table-cell:empty {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-alignment: center;
}

/* Label (text) */
.label {
    -fx-background-color: transparent;
    -fx-alignment: center;
}

/* Menu and context menu  */
.menu-item:hover, .menu:hover {
    -fx-background-color: #6d51c1;
}

.menu-item:hover {
    /* -fx-font-weight: bold; */
    -fx-background-radius: 7;
}

.context-menu {
    -fx-padding: 4;
    -fx-border-color: #ccc;
    -fx-border-width: 1;
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}